name: Update Toffee Cookies Every 30 Min

on:
  schedule:
    - cron: "*/30 * * * *"  # ржкрзНрж░рждрж┐ рзйрзж ржорж┐ржирж┐ржЯ ржкрж░ ржкрж░
  workflow_dispatch:        # ржорзНржпрж╛ржирзБрзЯрж╛рж▓рж┐ рж░рж╛ржи ржХрж░рж╛рж░ ржЬржирзНржп

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: pip install requests

      - name: Run Cookie Updater
        run: python toffee_all.py

      - name: Commit and Push
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "CookieBot"
          git add toffee.json toffee.m3u
          git commit -m "ЁЯФД Cookies Updated: $(date)" || echo "No changes"
          git push
