name: Toffee Auto Update

on:
  schedule:
    - cron: "0 */3 * * *" # প্রতি ৩ ঘণ্টা পরপর
  workflow_dispatch: # ম্যানুয়ালি রান করার জন্য

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Python Setup
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Dependencies
        run: pip install requests

      - name: Run Script
        run: python toffee_update.py

      - name: Commit & Push
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add toffee_live.m3u
          git commit -m "Auto Update: $(date)" || echo "No changes"
          git push
